<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>SmartReco - من نحن</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">SmartReco</div>

    <a href="/index.html">الرئيسية</a>
    <a href="/recommend.html">التوصيات</a>
    <a href="/dashboard.html">الإحصائيات</a>
    <a href="/how_it_works.html">كيف يعمل النظام؟</a>
    <a href="/about.html">من نحن</a>
    <a href="/cart.html" class="cart-btn">السلة <span id="cartCount"></span></a>
</nav>


    <!-- HERO -->
    <div class="hero">
        <h1>من نحن</h1>
        <p>تعرف على فريق SmartReco ورؤيتنا</p>
         <div class="container">
        <h1>فريق عمل مشروع SmartReco</h1>

        <div class="team-grid">

            <div class="member">
                <h3>نغم قويدر</h3>
                <p>الرقم الجامعي:246921</p>
            </div>

            <div class="member">
                <h3>نور إبراهيم</h3>
                <p>الرقم الجامعي: 134361</p>
            </div>

            <div class="member">
                <h3>ميار عوض </h3>
                <p>الرقم الجامعي:111004</p>
            </div>

            <div class="member">
                <h3>تقى طبوش</h3>
                <p>الرقم الجامعي:132997</p>
            </div>

            <div class="member">
                <h3>فردوس  يونسو</h3>
                <p>الرقم الجامعي: 130975</p>
            </div>

             <div class="member">
                <h3>نجاح شومال</h3>
                <p>الرقم الجامعي : 194678</p>
            </div>

             <div class="member">
                <h3>محمد ناجي القضماني  </h3>
                <p>الرقم الجامعي: 237041</p>
            </div>

        </div>

    </div>
    </div>

    <!-- CONTENT -->
    <div class="box">
        <h2>رؤيتنا</h2>
        <p>
            نهدف إلى بناء نظام توصيات ذكي يساعد المستخدمين على العثور على المنتجات المناسبة
            لهم باستخدام الخوارزمية الجينية.
        </p>
    </div>

    <!-- FOOTER -->
    <footer>
        © 2026 SmartReco — جميع الحقوق محفوظة
    </footer>

</body>
</html>
