<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>SmartReco - تواصل معنا</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

   <!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">SmartReco</div>

    <a href="/index.html">الرئيسية</a>
    <a href="/recommend.html">التوصيات</a>
    <a href="/dashboard.html">الإحصائيات</a>
    <a href="/how_it_works.html">كيف يعمل النظام؟</a>
    <a href="/about.html">من نحن</a>
    <a href="/contact.html">تواصل معنا</a>
    <a href="/cart.html" class="cart-btn">السلة <span id="cartCount"></span></a>
</nav>


    <!-- HERO -->
    <div class="hero">
        <h1>تواصل معنا</h1>
        <p>يسعدنا سماع آرائكم واقتراحاتكم</p>
    </div>

    <!-- CONTENT -->
    <div class="box">
        <h2>معلومات التواصل</h2>
        <p>البريد الإلكتروني: smartReco@hotmail.com</p>
        <p>الهاتف: 0969573654</p>
    </div>

    <!-- FOOTER -->
    <footer>
        © 2026 SmartReco — جميع الحقوق محفوظة
    </footer>

</body>
</html>
