<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>SmartReco - الرئيسية</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

   <!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">SmartReco</div>

    <a href="/index.html">الرئيسية</a>
    <a href="/recommend.html">التوصيات</a>
    <a href="/dashboard.html">الإحصائيات</a>
    <a href="/how_it_works">كيف يعمل النظام؟</a>
    <a href="/about.html">من نحن</a>
    <a href="/contact.html">تواصل معنا</a>
    <a href="/cart.html" class="cart-btn">السلة <span id="cartCount"></span></a>
</nav>


    <!-- HERO -->
    <div class="hero">
        <h1>مرحباً بك في SmartReco</h1>
        <div class="box">
        <h2>ما هو SmartReco؟</h2>
        <p>
            SmartReco هو نظام توصيات ذكي يقوم بتحليل بيانات المستخدمين والمنتجات والتقييمات
            لتقديم أفضل اقتراحات ممكنة باستخدام الخوارزمية الجينية.
        </p>
    </div>

           <p style="color: lightyellow;"> النظام لا يعرض منتجات عشوائية، بل يعتمد على Optimization لاختيار الأفضل. </p>
        <a class="btn" href="recommend.html">ابدأ الآن</a>
        <a class="btn" href="dashboard.html">عرض الإحصائيات</a>
    </div>

 

    <!-- FOOTER -->
    <footer>
        © 2026 SmartReco — جميع الحقوق محفوظة
    </footer>

</body>
</html>
